.wrapper {
    display: flex;
    gap: 24px;
    margin-top: 10px;
}

.main-video {
    flex: 6;
}

.reccomended {
    flex: 2;


}

.details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;

}

i {
    margin-right: 10px;
    margin-top: 5px;
}

i:hover {
    color: orange;
}

.title {
    font-weight: bold;
}

.avatar {
    border-radius: 55%;
    background-color: aquamarine;
    height: 50px;
    width: 50px;

}

.channel-details {
    display: flex;
    margin-top: 25px;
   
    padding: 5px;
    width: 30%;
    height: 10vh;
}

.channel-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.video-wrap {
    position: relative;
    padding-top: 56.25%;

}

.video {
   position: absolute;
   top: 0;
   left: 0;
}

.player-wrapper{
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 25px;
}

.recc-player{
    position: absolute;
   top: 0;
   left: 0;
}

@media screen and (max-width:480px){

    .channel-details{
        display:flex;
        flex-direction: column;
    }





}